# Срок действия общего доступа, минут.
# После истечения следующий запрос создаст новый.
ACCESS_TTL_MINUTES=10
# Имя пользователя proxy. Можно свободно изменить под свой проект
PROXY_USERNAME=Proxy_Username
# Публичный адрес dumbproxy.
PROXY_HOST=proxy.example.com
# Публичный порт dumbproxy.
PROXY_PORT=1080
# Схема подключения.
PROXY_SCHEME=socks
# HMAC SECRET
# Пример генерации:openssl rand -hex 32
DUMBPROXY_HMAC_SECRET=твой_секрет
